.container {
    display: flex;
    font-size: 24px;
    color: whitesmoke;
    flex-direction: column;
}

p {
    height: 60px;
    padding-left: 20px;
    padding-top: 25px;
}

.home {
    background-color: lightsteelblue;
}

.about {
    background-color: aqua;
}

.contactus {
    background-color: aquamarine;
}

.school {
    background-color: greenyellow;
}